* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(170, 166, 166);
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
  font-size: 25px;
}

main {
  padding: 0 100px;
  width: 840px;
  margin: 50px auto;
}

.main-section1,.main-section2,.main-section3{
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.main-section4{
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

